files:
   "/etc/nginx/conf.d/nginx-custom.conf":
     owner: root
     group: root
     mode: "000644"
     content: |

      server {
        listen 80;
          client_max_body_size 50M;
        }

container_commands:
  99_restart_nginx:
    command: "service nginx restart || service nginx start"
