# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html

packages:
  yum:
    git: []
    htop: []
    tree: []
    gcc-c++: []
    make: []

commands:
  01_install_yarn:
    command: 'sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo'
    command: 'curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -'
    command: 'sudo yum install yarn -y'
