<h1>Home#index</h1>

<%= link_to 'About',    page_path('about'),   class: 'btn btn-info' %>
<%= link_to 'Contact',  page_path('contact'), class: 'btn btn-info' %>
<%= link_to 'Help',     page_path('help'),    class: 'btn btn-info' %>
